[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["go"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Upbit Monitor"

[[workflows.workflow]]
name = "Upbit Monitor"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PROXY_URL=http://45.131.4.253:80 go run main.go"
